@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Homemade+Apple&family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    /* border: solid red 1px; */
}

html, body {
    scroll-behavior: smooth;
    font-family: "Poppins";
    width: 100%;
}

/* navigation bar styling */
.navbar {
    background-color: rgba(40, 40, 40, 0);
    width: 100%;
    position: fixed;
    font-family: "Poppins";
    transition: all 0.3s ease;
    z-index: 9999;
}

.navbar .max-width .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-link{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
}
.logo-icon{
    width: 40px;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s ease;
}
.logo-icon:hover{
    border: solid 1px #1daec8;
    transform: scale(1.3);
}
.logo::before{
    content:"";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #1daec8;
    border-radius: 50%;
    opacity: 100%;
    animation: logoAnimation 5s ease infinite;
}

/* .logo::after{
    content:"Go to home";
    width: 100px;
    height: 40px;
    position: absolute;
    background-color: #1daec8;
    border-radius: 5%;
    opacity: 50%;
    transform: translateX(80px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: goToHome 0.3s ease;
} */

@keyframes logoAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 0%;
    }
}

.navbar.sticky{
    background-color: #151515;
    /* opacity: 50%; */

}
.max-width{
    max-width: 100%;
    margin:0;
    padding: 20px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

/* .navbar .logo a, .navbar .logo span{
    color: #1daec8;
    font-family: "Ubuntu";
    transition: color 0.3s ease;
} */

.navbar .logo span:hover{
    color: #F0F8FF;
}

.navbar .menu li{
    display: inline-block;
    margin-left: 15px;
    list-style: none;
    font-weight: 500;

}

.navbar .menu li a,
.navbar .menu i{
    color: #1daec8;
    font-size: 25px;
    transition: color 0.3s ease;
    margin-right:10px;
}
.navbar .menu li a:hover{
    color: #F0F8FF;
}

/* home section styling */

.home{
    display: flex;
    justify-content: center;
    background: url("images/bg-sand.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #e5caaa;
    font-family: "Montserrat";
    font-weight: 600;
}
.home .max-width{
    margin: auto 0 auto 0;
}
.home .max-width .home-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}
/* Hi, my name is */
.home .max-width .home-content .text-1 {
    font-size: 4rem;
}
/* "NIMROD ROMELO */
.home .max-width .home-content .text-2 { 
    position: relative;
    font-size: 8rem;
    letter-spacing: 0.5px;
    transition: transform 0.6s ease;
    background-image: linear-gradient(to right, #e5caaa, #1daec8,#e5caaa, #1daec8, #e5caaa);
    animation: animate 10s linear infinite;
    background-size: 400% 100%;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 400% 100%;
    }
}
/* Web Developer */
.home .max-width .home-content .text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 4rem;
    overflow: hidden;
    padding-left: 0px;
    font-weight: 500;
    font-family: "Ubuntu";
    padding-bottom: 10px;
    transition: transform 0.6s ease, color 0.6s ease;
    background-image: linear-gradient(to right, #e5caaa, #1daec8,#e5caaa, #1daec8, #e5caaa);
    animation: animate 10s linear infinite;
    background-size: 400% 100%;
    -webkit-background-clip: text;
    color: transparent;
}
.home .max-width .home-content .text-3:hover{
    transform: translateY(60px);
    color: #e5caaa;
}
/* Developer */
.home .max-width .home-content .text-3 span{
    transition: color 0.3s ease;
    cursor: pointer;

}

/*About, Skills, Contact */
#nav-menu{
    list-style-type: none;
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 999;
    margin-bottom: -69px;
}

#nav-menu li{
    text-align: center;
    margin-bottom: 0px;
    display: inline;
}

#nav-menu:hover{
    opacity: 1;
}
#nav-menu li a{
    color: #1daec8;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#nav-menu li a:hover{
    color: #F0F8FF;
    background-color: #1daec8;
}

/* CLICK ME LINE */
.click-me-line{
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease;
    animation: clickmepulse 2s ease infinite;
    opacity: 1;
    margin-bottom: 0px;
    border-radius: 20px;
    text-shadow: #1daec8 5px;
}

@keyframes clickmepulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
        color: #1daec8;
    }
    100% {
        transform: scale(1.0);
    }
    
}

.click-me-line::before{
    content:"";
    border-bottom: solid #e5caaa 1px;
    width: 100px;
    /* height: 100%; */
    transform: translateY(-50%);
    margin-right: 5px;
}

.click-me-line::after{
    content:"";
    border-bottom: solid #e5caaa 1px;
    width: 100px;
    /* height: 100%; */
    transform: translateY(-50%);
    margin-left:5px;
}

.click-me-line:hover{
    opacity: 0;
}

/* quote styling */
.small-quote{
    margin-top: 6rem;
}

.quote{
    font-size: 1.5rem;
    font-style: italic;
    transition: opacity 0.6s ease;
}

.quote, .quote-author{
    opacity: 0;
    transition: opacity 0.8s ease;
}
.quote:hover, .quote-author:hover{
    opacity: 1;
}
#quote1, #quote2{
    color:#1daec8;
    font-size: 2rem;
    transform: translateY(100%);
}

#quote1{
    /* margin-right:20rem; */
    transition: margin-right 0.4s ease;
}

#quote1:hover {
    margin-right: 20rem;
}



/* about section styling=============================================== */
.about {
    height: 100vh;
    background-color: #0a404a;
    padding: 100px;
}
/* ABOUT ME*/
.about .title {
    text-align: center;
    color: #e5caaa;
    /* background-color: red; */
    font-size: 2.5rem;
    font-family: "Ubuntu";
    position: relative;
    margin-bottom: 5vh;
    padding-bottom: 1rem;
}
.about .title::after{
    content:"";
    width: 150px;
    bottom: 0px;
    left: 50%;
    background-color: #e5caaa;
    border-bottom: solid #e5caaa 3px;
    position: absolute;
    transform: translateX(-50%);
    border-radius: 3px;
}
.about .max-width {
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .max-width .left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about .max-width .right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .max-width .left .about-image {
    border-radius: 10%;
    width: 500px;
    filter: grayscale();
    border: 10px #e5caaa solid;
}

.about .max-width .right p{
    font-family: "Montserrat";
    color:#e5caaa;
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.about .max-width .right i{
    color:#e5caaa;
    font-size: 3rem;
    padding: 2rem;
}

/* History styling======================================== */
.history {
    height: 100vh;
    background: url("images/bg-sand.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.history .title {
    text-align: center;
    color: #e5caaa;
    font-size: 2.5rem;
    font-family: "Ubuntu";
    position: relative;
    margin-bottom: 5vh;
    padding-bottom: 1rem;
}
.history .title::after{
    content:"";
    width: 150px;
    height: 2px;
    bottom: 0px;
    left: 50%;
    background-color: #e5caaa;
    border-bottom: solid #e5caaa 5px;
    position: absolute;
    transform: translateX(-50%);
    border-radius: 3px;
}
.history .work-history{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.history .work-history img{
    width: 60%;
}

.history .work-history .work-company {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #e5caaa;
    border: 1px solid #1daec8;
    border-radius: 20px;
    height: 200px;
    box-shadow: 0 0 10px rgba(29, 174, 200, 0);
    transition: all 0.3s ease;
}

.history .work-history .work-company:hover{
    box-shadow: 0 0 40px rgba(29, 174, 200, 0.7);
}



/* RESPONSIVE MEDIA styling============================ */
@media (max-width:1500px){
    .about .max-width .left{
        flex: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about .max-width .right{
        flex: 100%;
    }
    .about .max-width .left .about-image {
        width: 400px;
    }
    .about .max-width .right p{
        display: flex;
        justify-content: center;
        text-align:center;
    }
    
}

@media (max-width: 1154px) {
    .navbar .logo a, .navbar .logo span{
        font-size: 1.5rem;
    }
    .navbar .menu li a,
    .navbar .menu i{
    font-size: 1.3rem;
    }
    .home .max-width .home-content .text-2 { 
        position: relative;
        font-size: 6rem;
    }
    .home .max-width .home-content .text-3{
        font-size: 3rem;
    }
    #nav-menu{
        list-style-type: none;
        font-size: 1.5rem;
    }
    .click-me-line {
        font-size: 1.1rem;
    }
    .click-me-line::before, .click-me-line::after {
        width: 50px;
    }
    #quote1, #quote2{
        font-size: 1.5rem;
    }
    .about .max-width .right p{
        font-size: 1.3rem;
    }
}



@media (max-width: 900px) {
    .navbar .logo a, .navbar .logo span{
        font-size: 1.5rem;
    }
    .navbar .menu li a,
    .navbar .menu i{
    font-size: 1.3rem;
    }
    .home .max-width .home-content .text-2 { 
        position: relative;
        font-size: 4rem;
    }
    .home .max-width .home-content .text-3{
        font-size: 2rem;
    }
    #nav-menu{
        list-style-type: none;
        font-size: 1.3rem;
    }
    .click-me-line{
        margin-top: 1.5rem;
        font-size: 1rem;
    }
    .small-quote{
        margin-top: 5rem;
    }
    
    .quote{
        font-size: 1.3rem;
    }
    .quote-author{
        font-size: 0.8rem;
    }
    #quote1, #quote2{
        font-size: 1.2rem;
    }
    #quote1{
        transition: margin-right 0.3s ease;
    }
    #quote1:hover {
        margin-right: 10rem;
    }
    .about .max-width .right p{
        font-size: 1.1rem;
    }
}

@media (max-width: 748px) {
    .about .max-width .right p{
        font-size: 1rem;
    }
    .about .max-width .left .about-image {
        width: 350px;
        height: 350px;
    }
}


@media (max-width: 616px) {
    .navbar .logo a, .navbar .logo span{
        font-size: 1.2rem;
    }
    .navbar .menu li a,
    .navbar .menu i{
    font-size: 1rem;
    }
    .home .max-width .home-content .text-2 { 
        position: relative;
        font-size: 2.2rem;
    }
    .home .max-width .home-content .text-3{
        font-size: 1.5rem;
    }
    #nav-menu{
        list-style-type: none;
        font-size: 0.85rem;
    }
    .click-me-line{
        margin-top: 1.6rem;
        font-size: 1rem;
    }
    .small-quote{
        margin-top: 3rem;
    }
    .quote{
        font-size: 1.1rem;
    }
    .quote-author{
        font-size: 0.6rem;
    }
    .about .max-width .left .about-image {
        width: 300px;
        height: 300px;
    }
    .about .max-width .right p{
        font-size: 0.9rem;
        padding-top: 0px;
    }
    .about {
    padding-left: 50px;
    padding-right: 50px;
    }
    .about .max-width {
        height: 80%;
    }
}

@media (max-width: 466px) {
    .about .max-width .left .about-image {
        width: 250px;
        height: 250px;
    }
    .about .max-width .right p{
        font-size: 0.8rem;
        align-items: flex-start;
    }
    .about {
        padding-left: 40px;
        padding-right: 40px;
        }
    .about .max-width {
        height: 70%;
    }
}